<%- include ('../partials/header.ejs') %> 

    <h1> ALL CAMPGROUNDS </h1>
    <div>
        <a href="/campgrounds/new"> Add new campground</a>
    </div>
    <ul>
        <% for( let campground of campgrounds ) { %>
            <li> <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a> ---- <%= campground.location %>  </li>
        <% } %>
    </ul>


<%- include ('../partials/footer.ejs') %> 